h1{
    margin:5px;
    padding: 10px;
    text-align: center;
}
.navbar ul{
    list-style-type:none;
    background-color: tomato;
    padding:0%;
    margin:0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color:white;
    display: block;
    padding: 15px;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar li:hover{
    background-color: red;
    cursor: pointer;
}
main{
    margin:20px;
    padding:20px;
}
body{
    margin:0px;
}